aiohttp==3.5.4
aiohttp-jinja2==1.4.2
aioopenssl==0.5.1
aiosasl==0.4.1
aioxmpp==0.11.0
arrow==0.17.0
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
cycler==0.10.0
dnspython==1.16.0
idna==2.10
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==1.0.0
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mlxtend==0.18.0
multidict==4.5.2
numpy==1.19.4
pandas==1.2.0
Pillow==8.0.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.20
pyOpenSSL==20.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.24.0
scipy==1.5.4
singletonify==0.2.3
six==1.15.0
sklearn==0.0
sortedcollections==1.2.1
sortedcontainers==2.3.0
spade==3.1.6
threadpoolctl==2.1.0
timeago==1.0.8
typing-extensions==3.7.4.3
tzlocal==1.5.1
yarl==1.6.3
